.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-prev, .swiper-button-next{
  background-color: white;
  border-width: 4px;
  border-color: black;
  padding: 1rem;
  z-index: 50;
  box-shadow: 4px 4px 0px 0px #000000;
  transition: all 150ms;
}

.swiper-button-prev:hover, .swiper-button-next:hover {
  box-shadow: none;
  transform: translate(4px, 4px);
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 20px !important;
  font-weight: 900 !important;
  color: #000 !important;
}

.swiper-button-prev {
  left: 0 !important;
}

.swiper-button-next {
  right: 0 !important;
}

.btn-primary {
  border-width: 4px;
  border-color: black;
  background-color: var(--color-primary);
  padding: 0.75rem 2rem;
  font-weight: 700;
  color: black;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  box-shadow: 8px 8px 0px 0px #000000;
  transition: all 150ms;
}

.btn-primary:hover {
  transform: translate(4px, 4px);
  box-shadow: none;
}

.btn-primary:active {
  transform: translate(8px, 8px);
}

.html {
  scroll-behavior: smooth;
}
